<div>
  <nav class="nav-menu">
    <a
      *ngFor="let item of navItems"
      [href]="item.link"
      class="nav-item options-font"
    >
      {{ languageService.isRussian ? item.labelRu : item.labelEn }}
    </a>
  </nav>

  <button *ngIf="!menuOpen" id="mobile-menu-btn" mat-button mat-flat-button (click)="toggleMenu()">
    <i class="material-icons md-48">menu</i>
  </button>

  <div *ngIf="menuOpen" class="mobile-menu">
    <nav class="nav-menu-mobile">
      <a
        *ngFor="let item of navItems"
        [href]="item.link"
        class="nav-item options-font"
      >
        {{ languageService.isRussian ? item.labelRu : item.labelEn }}
      </a>
    </nav>
  </div>

  <div class="upper-right-menu">
    <button *ngIf="!isSignedIn()" (click)="signIn()" class="auth-buttons">
      {{ languageService.isRussian ? 'Войти' : 'Sign In' }}
    </button>
    <button *ngIf="isSignedIn()" (click)="signOut()" class="auth-buttons">
      {{ languageService.isRussian ? 'Выйти' : 'Sign Out' }}
    </button>
    <button *ngIf="languageService.isRussian" (click)="changeLanguage()" class="flag-buttons">
      <img src="../../assets/UsaFlag2.png" alt="American Flag">
    </button>
    <button *ngIf="!languageService.isRussian" (click)="changeLanguage()" class="flag-buttons">
      <img src="../../assets/RussiaFlag.png" alt="Russian Flag">
    </button>
  </div>
</div>
