<div>
  <nav class="nav-menu">
    <a href="/home" class="nav-item options-font"><span *ngIf="languageService.isRussian">Главная</span><span *ngIf="!languageService.isRussian">Home</span></a>
    <a href="#about-section" class="nav-item options-font"><span *ngIf="languageService.isRussian">О нас</span><span *ngIf="!languageService.isRussian">About</span></a>
    <a href="/contact" class="nav-item options-font"><span *ngIf="languageService.isRussian">Контакты</span><span *ngIf="!languageService.isRussian">Contact</span></a>
    <a href="schedule" class="nav-item options-font"><span *ngIf="languageService.isRussian">Расписание</span><span *ngIf="!languageService.isRussian">Schedule</span></a>
    <a href="/donate" class="nav-item options-font"><span *ngIf="languageService.isRussian">Пожертвования</span><span *ngIf="!languageService.isRussian">Donations</span></a>
    <a href="/young-adults-ministry" class="nav-item options-font"><span *ngIf="languageService.isRussian">Молодежное служение</span><span *ngIf="!languageService.isRussian">Young Adults Ministry</span></a>
  </nav>
  <button *ngIf="!menuOpen" id="mobile-menu-btn" mat-button mat-flat-button (click)="toggleMenu()">
    <i class="material-icons md-48">menu</i>
  </button>
  <div *ngIf="menuOpen" class="mobile-menu">
    <nav class="nav-menu-mobile">
      <a href="/home" class="nav-item options-font"><span *ngIf="languageService.isRussian">Главная</span><span *ngIf="!languageService.isRussian">Home</span></a>
      <a href="#about-section" class="nav-item options-font"><span *ngIf="languageService.isRussian">О нас</span><span *ngIf="!languageService.isRussian">About</span></a>
      <a href="/contact" class="nav-item options-font"><span *ngIf="languageService.isRussian">Контакты</span><span *ngIf="!languageService.isRussian">Contact</span></a>
      <a href="schedule" class="nav-item options-font"><span *ngIf="languageService.isRussian">Расписание</span><span *ngIf="!languageService.isRussian">Schedule</span></a>
      <a href="/donate" class="nav-item options-font"><span *ngIf="languageService.isRussian">Пожертвования</span><span *ngIf="!languageService.isRussian">Donations</span></a>
      <a href="/young-adults-ministry" class="nav-item options-font"><span *ngIf="languageService.isRussian">Молодежное служение</span><span *ngIf="!languageService.isRussian">Young Adults Ministry</span></a>
    </nav>
  </div>
  <div class="flag-toggle">
    <button *ngIf="languageService.isRussian" (click)="changeLanguage()">
      <img src="../../assets/UsaFlag2.png" alt="American Flag">
    </button>
    <button *ngIf="!languageService.isRussian" (click)="changeLanguage()">
      <img src="../../assets/RussiaFlag.png" alt="Russian Flag">
    </button>
  </div>
</div>
