<div class="contact-container">
  <app-nav-menu (isActiveChange)="receiveDataFromChild($event)"></app-nav-menu>
  
  <div class="content">
    <div class="title-container">
      <img src="../../assets/logo.png" alt="logo" />
      <h1><span *ngIf="languageService.isRussian">Контакты</span><span *ngIf="!languageService.isRussian">Contact</span></h1>
    </div>
    <div class="info-container" *ngIf="!hideForm">
      <p class="info-text">
        <span *ngIf="!languageService.isRussian">
          Church Email: <a href="mailto:slavicbaptistchurchofslc@gmail.com">slavicbaptistchurchofslc&#64;gmail.com</a><br>
          Pastors Phone Number: <a href="tel:+18015560288">(801) 556-0288</a><br>
        </span>
        <span *ngIf="languageService.isRussian">
          Электронная почта церкви: <a href="mailto:slavicbaptistchurchofslc@gmail.com">slavicbaptistchurchofslc&#64;gmail.com</a><br>
          Номер телефона пастора: <a href="tel:+18015560288">(801) 556-0288</a><br>
        </span>
      </p>
    </div>
  </div>
</div>
