<div class="schedule-container">
  <div class="scrollable-content">
  <app-nav-menu (isActiveChange)="receiveDataFromChild($event)"></app-nav-menu>

  <div class="content">
    <div class="title-container">
      <img src="../../assets/scheduleLogo.png" alt="logo" />
      <h1><span *ngIf="languageService.isRussian">Расписание</span><span *ngIf="!languageService.isRussian">Schedule</span></h1>
    </div>
    <div class="info-container" *ngIf="!hideForm">
      <p class="info-text">
        <span *ngIf="!languageService.isRussian">
          Sunday Service: 10am-12pm <br/>
          Sunday Bible Study: 5pm-6pm<br/>
          Sunday School: 5pm-7pm<br/>
          Wednesday Young Adults Group: 7pm-9pm<br/>
          Friday Service: 7pm-8pm<br/>
        </span>
        <span *ngIf="languageService.isRussian">
          Воскресное богослужение: 10:00-12:00 <br/>
          Воскресное изучение Библии: 17:00-18:00<br/>
          Воскресная детская школа: 17:00-19:00<br/>
          Молодежная группа по средам: 19:00-21:00<br/>
          Пятничное богослужение: 19:00-20:00<br/>
        </span>
      </p>
    </div>
  </div>

  <div class="calendar-wrapper" *ngIf="!hideForm">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FDenver&showPrint=0&src=NTViMTBlMGMyMGNhOWM2YjUzYmJlMjRjMmI5MTRmYjEzMGRkYjFkMTdhZTVmNWM5NzUwNDFiNTI0ZjE2ZGJhMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00" 
  frameborder="0" scrolling="no"></iframe>
  </div>
</div>
</div>
