:root{
  --dark-navy: #1F2937;
  --light-navy: #2B3544;
  --gold: #E0D54D;
  --navy-transparent: rgb(31, 41, 55, .83)
}

@font-face {
  font-family: Devasia;
  src: url(assets/fonts/devasia-cufonfonts-webfont/Devasia-Regular.woff);
}

@font-face {
  font-family: Forum;
  src: url(assets/fonts/Forum/Forum-Regular.ttf);
}

@font-face {
  font-family: Anton;
  src: url(assets/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
  font-family: Futura;
  src: url(assets/fonts/futura/futura\ medium\ bt.ttf);
}

.options-font {
  font-family: Forum;
}

.message-font {
  font-family: Anton;
}

.info-font {
  font-family: Futura;
}

body{
  margin: 0px;   
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--navy-transparent); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-navy);
}