<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div>
  <div id="container1">
    <div class="logo-container">
      <img class="logo" src="../../assets/logo.png" alt="logo" />
    </div>
    <div *ngIf="!menuOpen" class="welcome">
      <div class="welcome-text">
        <p id="top-text"><span *ngIf="languageService.isRussian">Добро пожаловать!</span><span *ngIf="!languageService.isRussian">Welcome to</span></p>
        <p id="title"><span *ngIf="languageService.isRussian">Славянская Евангельская Баптистская Церковь</span><span *ngIf="!languageService.isRussian">Slavic Evangelical Baptist Church</span></p>
        <p id="bottom-text"><span *ngIf="languageService.isRussian">г. Солт-Лейк-Сити, Юта</span><span *ngIf="!languageService.isRussian">of Salt Lake City, Utah</span></p>
      </div>
      <div>
        <nav #navMenu class="nav-menu">
          <a (click)="scrollToBottom()" class="nav-item options-font"><span *ngIf="languageService.isRussian">О нас</span><span *ngIf="!languageService.isRussian">About</span></a>
          <a href="/contact" class="nav-item options-font"><span *ngIf="languageService.isRussian">Контакты</span><span *ngIf="!languageService.isRussian">Contact</span></a>
          <a href="/schedule" class="nav-item options-font"><span *ngIf="languageService.isRussian">Расписание</span><span *ngIf="!languageService.isRussian">Schedule</span></a>
          <a href="/donate" class="nav-item options-font"><span *ngIf="languageService.isRussian">Пожертвования</span><span *ngIf="!languageService.isRussian">Donations</span></a>
          <a href="/photos" class="nav-item options-font"><span *ngIf="languageService.isRussian">Фото</span><span *ngIf="!languageService.isRussian">Photos</span></a>
          <a href="/young-adults-ministry" class="nav-item options-font"><span *ngIf="languageService.isRussian">Молодежное служение</span><span *ngIf="!languageService.isRussian">Young Adults Ministry</span></a>
        </nav>
      </div>
    </div>
  </div>
  <div class="about-section" id="about-section">
    <div class="scroll-to-top-container">
      <mat-icon class="scroll-to-top" (click)="scrollToTop()">arrow_upward</mat-icon>
    </div>
    <div class="title-container">
      <img src="../../assets/aboutUsLogo.png" alt="logo" />
      <h1><span *ngIf="languageService.isRussian">О нас</span><span *ngIf="!languageService.isRussian">About Us</span></h1>
    </div>
    <div class="info-container" *ngIf="!menuOpen">
      <p class="info-text">
        <span *ngIf="languageService.isRussian">
          Мы славянская община евангельских Христиан-Баптистов проживающих прекрасном штате Юта. 
          Наша община является частью международного союза церквей евангельских христиан-Баптистов! 
          Хотя большинство наших проповедей и богослужений проводятся на русском языке, мы предлагаем перевод для тех, кто в нем нуждается. 
          Иногда у нас также бывают проповеди и песни на английском языке. Приглашаем Вас по воскресеньям и пятницам на наши богослужение 
          (подробнее см. на странице расписания).<br>Вы можете найти нас по следующему адресу: 2065 E 6200 S, Holladay, UT 84121
        </span>
        <span *ngIf="!languageService.isRussian">
          We are a majority Slavic community of devout Christians living in the beautiful state of Utah. We are part of a larger Slavic brotherhood of churches known as the Slavic Evangelical Baptist Churches! Although the majority of our sermons and worship are in Russian, we do offer translation to those who need it. We occasionally have sermons and songs in English as well. Join us on Sundays and Fridays for service (visit the schedule page for more info).<br>You can find us at the following address: 2065 E 6200 S, Holladay, UT 84121
        </span>
      </p>
    </div>
  </div>
  <app-nav-menu 
  *ngIf="isHandset$ | async" (isActiveChange)="receiveDataFromChild($event)"></app-nav-menu>
  <div class="upper-right-menu">
    <button *ngIf="!isSignedIn()" (click)="signIn()" class="auth-buttons">
      {{ languageService.isRussian ? 'Войти' : 'Sign In' }}
    </button>
    <button *ngIf="isSignedIn()" (click)="signOut()" class="auth-buttons">
      {{ languageService.isRussian ? 'Выйти' : 'Sign Out' }}
    </button>
    <button *ngIf="languageService.isRussian" (click)="changeLanguage()" class="flag-buttons">
      <img src="../../assets/UsaFlag2.png" alt="American Flag">
    </button>
    <button *ngIf="!languageService.isRussian" (click)="changeLanguage()" class="flag-buttons">
      <img src="../../assets/RussiaFlag.png" alt="Russian Flag">
    </button>
  </div>
</div>
